<h1>Trip Planner HOME PAGE</h1>

<% if user_signed_in? %>
  <%= link_to "Create a new trip", new_trip_path %>
  <%= link_to "My trips", trips_path %>
<% else %>
  <%= link_to "Go on an adventure", new_user_session_path %>
<% end %>
